<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    </head>

    <body>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}


        <div class="menu-bar">
            {% if user.is_authenticated %}
                <p>Hello, {{user.first_name}}</p>
            {% endif %}

            <ul class="menu-options">
                {% if user.is_authenticated %}
                    {% for route, id, label in auth_navigation_bar %}
                        <li{% if route == request.path %} style="background-color: darkcyan; font-weight: bold;"{% endif %}>
                        <a href="{{ route }}">{{ label }}</a></li>
                    {% endfor %}

                {% else %}
                    {% for route, id, label in navigation_bar %}
                        <li{% if route == request.path %} style="background-color: darkcyan; font-weight: bold;"{% endif %}>
                        <a href="{{ route }}">{{ label }}</a></li>
                    {% endfor %}

                {% endif %}
                
            </ul>
        </div>

        {% block content %}
        {% endblock %}


    </body>
</html>
