<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    </head>

    <body>

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}

        <div class="menu-bar">
            {% if user.is_authenticated %}
                <p>Hello, {{user.first_name}}</p>
            {% endif %}

            <ul class="menu-options">
            {% if user.is_authenticated %}
                <li><a href="/">Home</a></li>
                 <li><a href="/polls/profile/{{user.id}}">My Profile</a></li>
                <li><a href="/polls/logout_user">Logout</a></li>
            {% else %}
                <li><a href="/">Home</a></li>
                <li><a href="/polls/login_user">Login</a></li>
            {% endif %}
            </ul>
        </div>

        {% block content %}

        {% endblock %}
    </body>
</html>
