html {
    height: 100%;
}

li a {
    color: lightgreen;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: darkslategrey url("images/background1.png") no-repeat;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightblue;
}

p, label {
    color: cyan;
    text-align: center;
}

#vote-url {
    color: aquamarine;
}

.login {
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#email-field, #password-field {
    display:flex;
    flex-direction: column-reverse;
    align-items:flex-start;
}

input {
    width: 25vw;
    height: 32px;
}

li a{
    text-decoration: none;
}

#vote-count {
    text-decoration: none;
}

#vote-count:hover {
    color:aqua;
}

.menu-bar {
    background-color: indigo;
    padding-top: 5px;
}

.menu-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    height: auto;
}

.menu-options li {
    width:fit-content;
    height: fit-content;
    background-color: darkblue;
    padding: 5px;
    border-radius: 5%;
    list-style: none;
}

.questions-list {
    width: fit-content;
    height: fit-content;
    margin-block-start: 10px;
    margin-block-end: 20px;
}

.questions {
    position: fixed;
    margin-block-start: 0;
    top: 20vh;
    left: 40vw;
    width: auto;
    height:auto;
    background-color: midnightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.questions h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.questions-list li {
    list-style: none;
    padding-bottom: 5px;
}

.choices {
    padding-top: 50px;
    padding-bottom: 50px;
}

.results {
    padding-top: 50px;
    padding-bottom: 50px;
}
